
@{
    ViewBag.Title = "Css";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="~/Content/Action.css" rel="stylesheet">
    </head>
    <title>Css Page</title>
</head>
<body>
    <h2>Css</h2>
</body>
</html>

